* text=auto

*.sln text eol=crlf
*.csproj text eol=crlf
*.config text eol=crlf
*.cs text eol=crlf
*.resx text eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.ttf binary

